.App {
  text-align: center;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#logOutBtn{
  right:0px;
}

#headerLogo{
  min-width: 45px;
  max-width: 70px;
}

.errorMsgField{
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.body {
  background-color: black;
}