.cardCountry {
  color: white;
  border-radius: 8px;
  padding: 2%;
  max-width: 90%;
  contain: content;
  overflow: none;
  background-color: #213630;
  width: 70vw;
  margin-bottom: 10px;
  position: relative;
}

#top {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  gap: 2.5%;
  margin-top: auto;
  max-width: 100%;
}

#defaultView{
  margin-bottom: 5%;
}

#name{
  display: grid;
  justify-content: left;
}

p{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2%;
}

#information >p, #expanded>p {
  width: 100%;
  display: grid;
  flex-direction: column;
  justify-content: left;
  margin: 1% 1%;
}

/* smaller screens */
@media only screen and (max-width: 800px) {
  .cardCountry{
      width: 100%;
  }

}