#savedList{
    display: grid;   
    color: rgb(252, 252, 252);
    margin-top: 50px;
    width:40%;
    padding: 3%;
    height: fit-content;
    background: #5a4523d7;
    contain: content;
    overflow: scroll;
    border: 2px #f2f1f4 solid;
    border-radius: 10px;
    grid-template-rows: auto;
}

#favListContent, #visListContent{
    display: grid;
    flex-direction: column;
}

#inputEmail.label{
    color: white;
}

.button{
    width: min-content;
    display: grid;
    color: #5a4523d7;
    background-color: #f1f1f1;
}

.favoriteCountries{
    display: inline-block;
    border: 1px solid rgb(194, 203, 194);
}

.visitedCountries{
    display: inline-block;
    border: 1px solid rgb(194, 203, 194);
}