.App{
    padding: 6%;
    color: rgb(14, 14, 14);
    text-align: center;
}

#View {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 11vh;
    background-color: rgb(100, 96, 96);
}

#searchBox{
    margin-top: 5vh;
    width: 68%;
    display: grid;
    padding: 3%;
    border: 2px #f2f1f4 solid;
    border-radius: 10px;
    background-color: #324736e2;
    gap: 5%;
    color: #f1ecfc;
    flex-direction: row;
}

#searchInfo{
    color: white;
}

#searchElements{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
}

.Countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10vh;
    width: 100%;
}

#searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: 100%;
    color: white;
}

#savedList{
    display: grid;
    flex-direction: row;
    align-items: center;
}


/* smaller screens */
@media only screen and (max-width: 800px) {
    #savedList{
        border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 85%;
        padding: 5%;
        margin-top: 3vh;
    }

    #searchElements{
        width: 80%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        padding: 5%;
    }

    #loginForm{
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        row-gap: 10%;
        padding-bottom: 10%;
    }

    #searchBox{
        gap: 5%;
    }

    .favCountry{
        padding: 5%;
    }

    .favCountry > p{
        padding-right: 50%;
    }
  }

  

  /* even smaller screens */
@media only screen and (max-width: 600px) {
    .favCountry > p{
        padding-right: 35%;
    }

    /* To avoid that the header is looking crowded */
    #usersEmailHeader{
        display: none;
    }
  }